numpy
pandas
scipy
matplotlib
umap-learn
click
pyensembl
tqdm
seaborn
loompy
pymannkendall
leidenalg # best installed with 'conda install -c conda-forge leidenalg'
cellranger # best installed with 'conda install -c hcc cellranger' ??
h5py #<=2.10.0
statsmodels
#pomegranate
tables
lz4

